h1 {
    text-align: center;
    justify-content: center;
    color: white;
 }
 
 body {
  background-image: url("charliegwapo.gif");
  background-size: cover;
  text-align: center;
  margin: 10% auto;
 }
 
 label {
   color: white;
}
 
 footer {
    color: white;
    margin: 20%;
    font-size: 150%;
   }

 